/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'PP Neue Montreal', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5625em;
    letter-spacing: -0.001em;
    text-align: left;
    color:#363636;
    overflow-wrap: break-word;

}

.inline-quote::before {
    content: open-quote;
    color: #ccc;
}

.inline-quote::after {
    content: close-quote;
    color: #ccc;
}

.section-text {
    font-family: 'PP Neue Montreal', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5625em;
    letter-spacing: -0.001em;
    text-align: left;
    color: #482011;
    overflow-wrap: break-word;
}

h1 {
    font-family: 'Akzidenz-Grotesk Pro', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 118.8%;
    letter-spacing: -0.045em;
    text-align: center;
    color: #FFC56E;
}

h2 {
    font-family: 'Akzidenz-Grotesk Pro', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -0.005em;
    text-align: center;
}

h2.styled-quote {
    position: relative;
    margin: 0px 0px 100px 0px;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 1.6;
    color: #FF9917;
}

h1.main-title {
    margin: 0 0 0.6em 0;
    padding: 0;

    @media screen and (min-width: 769px) {
        font-size: 7vh;
        margin: 0 0 1.6em 0;
    }

    @media screen and (max-width: 768px) and (min-width: 569px) {
        font-size: 8vw;
        line-height: 16vh;
        margin: 0 0 1.6em 0;
    }

    @media screen and (max-width: 569px) and (min-width: 369px) {
        width: 65vw;
        font-size: 6.35vh;
        line-height: 1.2em;
        margin: 0 0 1.6em 0;
    }

    @media screen and (max-width: 369px) {
        width: 65vw;
        font-size: 18vw;
        line-height: 1.2em;
        margin: 0 0 1.6em 0;
    }
}

h3 {
    font-family: 'PP Neue Montreal', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.005em;
    text-align: center;
}

h3.nav {
    line-height: 1.25em;
    text-align: left;
}

h3.subtitle {
    line-height: 1.25em;
    color: #7A4A38;
    margin: 0 20px 0 20px;

    @media screen and (max-width: 759px) and (min-width: 359px) {
        position: absolute;
        top: calc(100% - 200px);
        font-size: 13px;
    }

    @media screen and (max-width: 359px) {
        position: absolute;
        top: calc(100% - 200px);
        font-size: 13px;
    }
}


h6.image-footnote {
    font-family: 'PP Neue Montreal', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 9.5px;
    line-height: 1.5625em;
    letter-spacing: -0.001em;
    text-align: center;
    color:#6b6b6b;
    overflow-wrap: break-word;
    margin: 20px 30px 40px 30px;
}



#titlebox {
    background-color: #FFFDDE;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    position: absolute; 
    justify-content: space-between;
    z-index: 2;
    padding: 50px 0 0 0;
}

.navbar-left {
    display: flex;
    padding: 0 0 0 50px;
    align-items: left;
    text-align: left;
}

.navbar-right {
    display: flex;
    padding: 0 50px 0;
    align-items: right;
    text-align: right;
}

.navbar-item {
    margin: 0 15px;
    text-decoration: none;
    color: #FFB84D;
    font-size: 14px;
}

.navbar-item-cu-short {
    margin: 0 15px;
    text-decoration: none;
    color: #FFB84D;
    font-size: 14px;

    @media (min-width: 768px) {
        display: none;
    }
}

.navbar-item-cu-medium {
    margin: 0 15px;
    text-decoration: none;
    color: #FFB84D;
    font-size: 14px;
}

.navbar-item-cu-long {
    margin: 0 15px;
    text-decoration: none;
    color: #FFB84D;
    font-size: 14px;

    @media (max-width: 1250px) {
        display: none;
    }
}

.navbar-item:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

#adana {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 1000px;
    background-color: #F98700;
    padding: 0;
    margin: 0;
}

#hatay {
    width: 100%;
    height: 1000px;
    flex-wrap: wrap;
    display: flex;
    background-color: #F96900;
    padding: 0;
    margin: 0;
}

#maras {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 800px;
    background-color: #F94B00;
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.section-wrapper {
    display: block;
    self-align: center;
    margin: 60px;
    max-width: 1750px;
}

.section-header {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    align-items: baseline;
    border-top: 3px solid #482011;
    padding: 10px 0;
    margin: 60px;
}

.section-map {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-right: 0px;
    right:60px;
    height: 840px;
    max-width:620px;
    min-width: 400px;
    width:42vw;
}

.section-header h1 {
    color: #482011;
    font-size: 3em;
    padding-right: 20px;
}

.section-stats {
    font-family: 'GT Pressura Mono', 'Helvetica Neue', sans-serif;
    font-size: 0.9em;
    color: #482011;
    text-align: left;
    padding: 0 20px;
}

.section-content {
    display: inline-flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 10px 0;
    margin-top:auto;
    margin: 60px;
}

.section-content-paragraph {
    margin-right: 55%;
}

.text-container {
    display: inline-block;
    justify-content: center;
    margin: 0 calc((100% - 600px) / 2) 100px calc((100% - 600px) / 2);
    width: 600px;
}

.image-container {
    display: inline-block;
    justify-content: center;
    margin: 0 calc((100% - 600px) / 2) 100px calc((100% - 600px) / 2);
    width: 600px;
}

.sticky-map-one {
    position: sticky;
    z-index: -10;
    top: 2vh;
    height: 104vh;
}

.spacer {
    height: 230vh;
}

.section-break {
    height: 5vh;
}

.image-container-fullwidth{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.image-comparison-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.image-wrapper {
    position: relative;
    width: 49.9%; /* Adjust the width to ensure there's space between the images */
}

.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.label-l {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 4px 8px;
    font-size: 10px;
    border-radius: 0px;
}

.label-r {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 4px 8px;
    font-size: 10px;
    border-radius: 0px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#map { position: absolute; top: 0; bottom: 0; width: 100%; } /* Styles the container of the geocoder */

#geocoder {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow to lift the element off the page */
    border-radius: 8px; /* Rounded corners */
    font-size: 16px; /* Font size */
    width: 300px; /* Set the width of the search box */
}

#mapboxgl-ctrl-geocoder {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow to lift the element off the page */
    border-radius: 8px; /* Rounded corners */
    font-size: 16px; /* Font size */
    width: 300px; /* Set the width of the search box */
}

#mapboxgl-ctrl-geocoder--input {
    padding: 8px 12px; /* Padding for the input field */
    color: #2b2925; /* Text color */
    border: 2px solid #413d35; /* Border color and size */
    background-color: #ece9dd; /* Background color */
    outline: none; /* Removes outline on focus */
    transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition for focus effects */
}

#mapboxgl-ctrl-geocoder--input:focus {
    border-color: #005792; /* Darker border on focus */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* More prominent shadow on focus */
}

@media (max-width: 1249px) and (min-width: 768px) {
    .navbar-item-cu-short {
        display: none;
    }
    .navbar-item-cu-medium {
        display: block;
    }
    .navbar-item-cu-long {
        display: none;
    }

    .text-container {
    }
}

@media (min-width: 1250px) {
    .navbar-item-cu-short {
        display: none;
    }
    .navbar-item-cu-medium {
        display: none;
    }
    .navbar-item-cu-long {
        display: block;
    }
    .text-container {
    }
}

@media (max-width: 768px) {
    .navbar-item-cu-short {
        display: block;
    }
    .navbar-item-cu-medium {
        display: none;
    }
    .navbar-item-cu-long {
        display: none;
    }
    .navbar-item {
        display: none;
    }
    .navbar-item:first-child {
        display: block;
        flex-grow: 1;
    }

    .text-container {
        align-self: center;
        width: 70%;
    }

    .image-container {
        align-self: center;
        width: 80%;
    }
}